@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white overflow-x-hidden font-['Inter'];
}

#nprogress .bar {
  z-index: 100000000 !important;
  height: 4px !important;
}

.why-us-bg {
  height: 100%;
  width: 100%;
}
