@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply overflow-x-clip;
}

body {
  @apply bg-white overflow-x-clip font-['Inter'] relative;
}

#nprogress .bar {
  z-index: 100000000 !important;
  height: 4px !important;
  
}

.why-us-bg,
.why-us-bg::before,
.why-us-bg::after {
  background-attachment: fixed;
  height: 100%;
  width: 100%;
}

.contact-bg,
.contact-bg::before,
.contact-bg::after,
.about-us-bg,
.about-us-bg::before,
.about-us-bg::after
 {
  background-attachment: fixed;
}
